.blog-proper{
    margin: 112px auto;
}
.container-small{
    width: 752px;
    margin: 0 auto;
}
.blog-proper-img img{
    border-radius: 20px;
}
.blog-proper-profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;

    margin-top: 80px;
}
.blog-proper-profile img{
    height: 32px;
    border-radius: 20px;
}
