/* -+=+- MAIN -+=+- */
/* HELPER SECTION */

.helper{
    margin-top: 85px;
    margin-bottom: 96px;
}
.helper-text{
    width: 735px;
}
.helper-posts{
    margin-top: 64px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.col1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
}
.col1 img{
    border-radius: 20px;
    margin-bottom: 33px;
}
.col1 a{
    color: #F58A07;
    font-size: 16px;
}

/* FEATURE SECTION */

.feature{
    background: #EDF7FF;
}
.feature-contents{
    padding: 96px 0;
}

.container-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    margin-bottom: 64px;
}
.col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 48%;
}

.container-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
}
.col3{
    padding: 40px;
    background: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 400px;
}
.col3 img{
    width: 33px;
    margin-bottom: 32px;
}

/* ABOUT SECTION */

.about-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 100px 0;
}


.about-top-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 45%;
    align-items: center;
}
.about-top-left-row{
    margin-top: 48px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.about-top-right{
    position: relative;
}
.about-top-right img{
    border-radius: 20px;
    display: block;
}
.about-top-right-img-decor{
    position: absolute;
    top: 0;
    height: 100%;
    width: 25%;

    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}


.about-bottom-canvas{
    position: relative;
    background: #EDF7FF;
    border-radius: 20px;
    padding: 48px;

    margin-bottom: 128px;
}
.about-bottom-menu{
    margin-bottom: 80px;
}
.about-click{
    color: #F58A07;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

    display: inline-block;
    margin: 0 12px 0 0;
    padding: 8px 24px;
    background: white;
    border-radius: 30px;
}
.about-unclick{
    color: rgba(6, 50, 85, 0.3);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

    display: inline-block;
    margin: 0 12px;
    padding: 8px 24px;
    border-radius: 30px;
    border: rgba(6, 50, 85, 0.3) solid 2px;
}

.about-bottom-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about-bottom-left{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 45%;
}
.about-bottom-left p{
    line-height: 30px;
}
.about-bottom-left a{
    color: #F58A07;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
}
.about-bottom-right{
    position: relative;
}
.about-bottom-right img{
    border-radius: 20px;
    display: block;
}
.about-bottom-right-img-decor{
    position: absolute;
    top: 0;
    height: 100%;
    width: 25%;

    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}
.about-bottom-decor img{
    position: absolute;
    top: -16px;
    right: -16px;
}

/* JOBS SECTION */

.jobs{
    position: relative;
    background: #F58A07;
}
.jobs-bg{
    background-image: url(images/experience-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    width: 50%;
    height: 100%;
}
.jobs-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.jobs-left{
    display: flex;
    flex-direction: column;
    flex-basis: 640px;
}
.jobs-right{
    display: flex;
    flex-direction: column;
    flex-basis: 512px;
    padding: 128px 0 128px 128px;
}
.jobs-right-button{
    color: #F58A07;
    font-size: 16px;
    line-height: 17px;
    font-weight: 600;

    display: inline-block;
    padding: 18px 32px;
    background: white;
    border-radius: 30px;

    margin-top: 40px;
}

/* VIDEO PART */

.video{
    padding: 128px 0;
}
.video-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.video-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 45%;
}
.video-left-profile{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.video-left-profile-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}
.profile-name{
    margin: 0;
    font-size: 24px;
    line-height: 41px;
    font-weight: 500;
    color: #063255;
}
.profile-prof{
    margin: 0;
    font-size: 18px;
    line-height: 31px;
    font-weight: 500;
    color: #F58A07;
}
.video-right{
    display: flex;
    flex-direction: column;
    flex-basis: 45%;

    position: relative;
}
.video-right::after{
    content: "";
    background: white;

    position: absolute;
    bottom: 40px;
    left: 40px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

/* LATEST SECTION */

.latest{
    background: #DCEAF5
}
.latest-contents{
    padding: 96px 0;
}
.latest-posts{
    margin-top: 64px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.colh{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
    
    background: white;
    border-radius: 20px;
}
.colh img{
    border-radius: 20px;
}
.colh-text{
    padding: 32px;
}
.colh a{
    color: #F58A07;
    font-size: 16px;
}




