/* -+=+- MAIN -+=+- */
/* HELPER SECTION */

.helper{
    margin-top: 85px;
    margin-bottom: 96px;
}
.helper-text{
    width: 735px;
}
.helper-posts{
    margin-top: 64px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.col1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
}
.col1 img{
    border-radius: 20px;
    margin-bottom: 33px;
}
.col1 a{
    color: #F58A07;
    font-size: 16px;
}

/* FEATURE SECTION */

.feature{
    background: #EDF7FF;
}
.feature-contents{
    padding: 96px 0;
}

.container-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    margin-bottom: 64px;
}
.col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 48%;
}

.container-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
}
.col3{
    padding: 40px;
    background: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 400px;
}
.col3 img{
    width: 33px;
    margin-bottom: 32px;
}

/* ABOUT SECTION */

.about-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 100px 0;
}

.about-top-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 45%;
    align-items: center;
}
.about-top-left-row{
    margin-top: 48px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.about-top-right-img{
    position: relative;
    overflow: hidden;
}
.about-top-right-img img{
    border-radius: 20px;
}
.about-top-right-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #F58A07;

    mix-blend-mode: multiply;
}




